{% extends "layout.twig" %}
{% block center %}
    <div class="container">
        <div class="row text-center">
            <h1>
                {{ 'Dear %name%'|TI({'%name%': getUser()['name']}) ~ ', ' ~ 'confirm logout'|TI }}
            </h1>
            <div class="row"></div>
            <form class="form" id="form_logout" role="form" action="/auth/logout" method="post">
                <br><br><br><br><br>
                <button class="btn btn-default" type="submit" id="submit">{{ 'Logout'|T }}</button>
            </form>
        </div>
    </div>
{% endblock %}