{% extends "layout.twig" %}
{% block center %}
    <div class="center_align">
        <h1>{{ 'page not found'|T }}</h1>
        <br><br><br><br><br><br><br>
        <div>
            <a class="btn btn-default" href="{{ getConfig('base_url') }}">{{ 'Return'|T }}</a>
        </div>
    </div>
{% endblock %}