{% extends "layout.twig" %}
{% block center %}
    <div class="center_align">
        <h1>{{ 'page not found'|T }}</h1>
        <br><br><br><br><br><br><br>
        <div>
            <button class="btn btn-default" onclick="toHome();">{{ 'Return'|T }}</button>
        </div>
    </div>
{% endblock %}